################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Messaging.POC/ServiceBus.BLL/bin/Debug/net6.0
/Messaging.POC/ServiceBus.BLL/obj
/Messaging.POC/ServiceBus.Processor/bin/Debug/net6.0
/Messaging.POC/ServiceBus.Processor/obj
