################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Messaging.POC/ServiceBus.BLL/bin/Debug/net6.0
/Messaging.POC/ServiceBus.BLL/obj
/Messaging.POC/ServiceBus.Processor/bin/Debug/net6.0
/Messaging.POC/ServiceBus.Processor/obj
/Messaging.POC/.vs/Messaging.POC/DesignTimeBuild
/Messaging.POC/TIBCO.RV.Receiver/bin/Debug
/Messaging.POC/TIBCO.RV.Receiver/obj/Debug
/Messaging.POC/TIBCO.RV.Publisher/bin/Debug
/Messaging.POC/TIBCO.RV.Publisher/obj/Debug
/Messaging.POC/Messaging.POC.BLL/bin/Debug
/Messaging.POC/Messaging.POC.BLL/obj/Debug
/Messaging.POC/packages
/Messaging.POC/Messaging.POC.Publisher/bin/Debug
/Messaging.POC/Messaging.POC.Publisher/obj/Debug
/Messaging.POC/Messaging.POC.Receiver/obj/Debug
/Messaging.POC/Messaging.POC.Receiver/bin/Debug
