################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Messaging.POC/ServiceBus.BLL/bin/Debug/net6.0
