<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="service" value="7500"/>
    <add key="network" value="192.168.1.5"/>
    <add key="daemon" value="7500"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>